body {
  margin: 0;
}

.main_body {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid red;
}

.projects_body {
  position: relative;
  width: 100%;
  border: 1px solid green;
}
